
/*BACKGORUND COLORS*/

$bg-color-light: #fcecdc;
$bg-color-dark: #01591d; 

/*FUENTES*/

$primary-font: "Cinzel", serif;
$p-font: "Monserrat", sans-serif;

/*MAPA FUENTES*/
 $font-color: (
    p-dark: #000000,
    p-light: #ffffff,
    font-dark: #014b18,
    font-light: #eceac9,
    link-dark: #2d7a03,
    link-light: #7b7618
 );

$font-sizes: (
    xl: 72px,
    l: 56px,
    m: 42px,
    s: 16px,
    xs: 14px
);



