/*BASE*/
* {
  margin: 0;
  padding: 0;
}

/*  font-family: "Cinzel", serif;
    font-family: "Montserrat", sans-serif;
    font-family: Arial, Helvetica, sans-serif*/
/*UTILITIES*/
/*partial variables*/
/*BACKGORUND COLORS*/
/*FUENTES*/
/*COLOR PALLETE*/
/*MAPA FUENTES*/
/**partial mixin*/
/*IMG MIXIN*/
/*BOX MIXIN*/
/*COMPONENTS*/
/*componentes navbar*/
nav div {
  background-color: #fcecdc;
  margin-bottom: 0;
}
nav div div {
  width: 100%;
}
nav div div ul li {
  font-family: "Monserrat", sans-serif;
  color: #000000;
}
nav div div ul li a:hoover {
  color: #2d7a03;
}

.logo-light {
  width: 80px;
  height: 80px;
}

.navbar-toggler {
  color: #01591d;
}

/*component FOOTER*/
.container-footer {
  background-color: #01591d;
}

.box-redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.box-redes a {
  text-decoration: none;
}
.box-redes a .logo-instagram, .box-redes a .logo-whatsapp, .box-redes a .logo-facebook {
  width: 50px;
  height: 50px;
}
.box-copy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.p-fondo-oscuro {
  color: #ffffff;
  font-family: "Monserrat", sans-serif;
  font-size: 16px;
}

.logo-dark {
  width: 80px;
  height: 80px;
}

/*Component HOME*/
main {
  background-color: #fcecdc;
}

.box-portada .h1-inicio, .box-portada h2 {
  font-family: "Cinzel", serif;
  text-align: center;
  color: #014b18;
  font-size: 72px;
}
.box-portada h2 {
  font-size: 42px;
}
.box-portada .img-portada {
  width: 100%;
}
.box-portada p {
  padding: 20px;
  font-family: "Monserrat", sans-serif;
  color: #000000;
  font-size: 16px;
  text-align: justify;
}
.box-portada p span a {
  color: #2d7a03;
  text-decoration: none;
}
.box-portada p span a:hover {
  color: #7b7618;
}

.fondo-oscuro-titulo {
  border: 0;
  background-color: #01591d;
}
.fondo-oscuro-titulo div h2 {
  color: #eceac9;
}

.box2-home {
  border: 0;
  background-color: #01591d;
}
.box2-home div figure {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.box2-home div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.box2-home div p {
  color: #ffffff;
  font-family: "Monserrat", sans-serif;
  font-size: 16px;
}

.imagen-natacion-pro, .imagen-flia {
  width: 350px;
  height: 350px;
}

.box3-home div figure {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.box3-home div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.box3-home div p {
  color: #000000;
  font-family: "Monserrat", sans-serif;
  font-size: 16px;
}

/*Component nosotros*/
.h1-nosotros, .h1-contacto, .h1-instalaciones, .h1-servicios {
  font-family: "Cinzel", serif;
  color: #014b18;
  font-size: 56px;
  text-align: center;
  padding: 15px;
}

.p-fondo-claro {
  padding: 20px;
  font-family: "Monserrat", sans-serif;
  color: #000000;
  font-size: 16px;
  text-align: justify;
}
.p-fondo-claro span a {
  color: #2d7a03;
  text-decoration: none;
}

.box2-nosotros div h2 {
  font-family: "Cinzel", serif;
  text-align: center;
  color: #014b18;
  font-size: 42px;
}

.box-img-nosotros {
  margin: 0;
  border: 0;
  padding-top: 10px;
  background-color: #01591d;
}
.box-img-nosotros div figure {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.staf-image {
  width: 250px;
  height: 250px;
}

/*componente carrousel*/
.carrousel-box {
  padding: 10px;
}

h5 {
  border: solid, white;
  font-family: "Monserrat", sans-serif;
  font-size: 15px;
  background-color: rgba(1, 75, 24, 0.65);
}

.carousel-caption p {
  font-family: "Monserrat", sans-serif;
  background-color: rgba(1, 75, 24, 0.65);
  border-radius: 10px;
}

/*component instalaciones*/
.img-hospedaje {
  width: 100%;
}

/*components contacto*/
.fondo-oscuro {
  background-color: #01591d;
}
.fondo-oscuro div p {
  color: #ffffff;
  font-family: "Monserrat", sans-serif;
  font-size: 16px;
}

.h1-contacto {
  color: #eceac9;
}

.img-contacto {
  width: 100%;
}

.form-label, .form-check-label {
  color: #ffffff;
  font-family: "Monserrat", sans-serif;
  font-size: 16px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}
.button-container button {
  background-color: #fcecdc;
  color: #000000;
  font-family: "Cinzel", serif;
}
.button-container button:hover {
  background-color: #01591d;
  color: #ffffff;
}

/*# sourceMappingURL=styles.css.map */
